@import 'variables';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  list-style: none;
  a{
    color: $dark-blue; 
  }
}

body{
  background-color: Light-grayish-blue;
  font-family: $font-Kumbh;
  height: 100vh;
  max-width: 1440px;
  min-width: 360px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
}